<h2>ユーザー情報</h2>
<table class='table'>
  <tr><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></tr>
  <tr>
	  <th>ユーザーネーム</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
    <th colspan="2">
      <div style="max-height: 100px; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 5;">
        <%= simple_format(user.introduction) %>
      </div>
    </th>
  </tr>
</table>
<table class='table' id='follow-btn'>
  <%= render 'relationships/follow_btn', user: user %>
</table>

