<div class="container">
  <div class="row">
    <div class="col" style="text-align: center">
      <h5 style="margin-top: 100px; font-weight: bold;">本当に退会しますか？</h5>
      <div style="margin: 50px 0">
        退会すると、ログインできなくなり<br>
        会員情報に基づく機能が使えなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
      </div>
      <div class="form-group", style="display: inline-blo; margin: 10px auto 350px;">
        <%= link_to "退会しない", user_path(current_user), class: "btn btn-primary col-sm-2" %>
        <%= link_to "退会する", delete_user_path(current_user), method: :patch, class: "btn btn-danger col-sm-2" %>
      </div>
    </div>
  </div>
</div>