<div class='container'>
  <div class='row'>
    <div class=" col-md-8 mx-auto" style="padding: 10px 0 10px;">
  		<h1>お問い合わせフォーム</h1>
  		<%= render 'contacts/form', contact: @contact %>
  </div>
</div>