<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editing story</h1>
    	<%= render 'layouts/errors', obj: @story %>
  		<%= render 'stories/form', story: @story %>
  		<%= link_to 'Show', story_path(@story) %> |
  		<%= link_to 'Back', stories_path %>
  </div>
</div>