<div class='container'>
  <div class='row'>
    <div class="col-md-8 px-5 px-sm-0 mx-auto">
  		<h1>編集画面</h1>
    	<%= render 'layouts/errors', obj: @story %>
  		<%= render 'stories/form', story: @story %>
  		<div class="form-group">
  		  <%= link_to '戻る', story_path(@story), data: { confirm: '編集したデータは失われます、戻りますか？' }, class: "btn btn-secondary" %> |
  		  <%= link_to '一覧', stories_path, data: { confirm: '編集したデータは失われます、戻りますか？' }, class: "btn btn-secondary" %>
  		</div>
  </div>
</div>