<div class='container px-5 px-sm-0'>
  <div class='row'>

    <div class='col-md-3'>
      <%= render 'users/info', user: current_user %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <h2>ランキング(TOP10）</h2>
      <div id="ranking_stories">
       <%= render 'stories/ranking', stories: @stories %>
      </div>
    </div>

  </div>
</div>