<div class=container>
  <div class="row">
    <div class="col-md-10">
      <h1>サイト概要</h1>
      <p>
        <strong>あなたの怪談</strong>は、創作怪談の投稿、閲覧ができるホラー好きのためのサイトです。<br />
        サイトに自身の作った階段を投稿でき、それに対する評価やコメントを受ることができます。<br />
        また、ランキング機能で人気の作品を探したり、フォロー機能で好きな作者の作品を追ったりすることもできます<br />
        どうか、楽しんでいってください！<br />
        （機能の利用には、ログインが必要です。メールアドレスだけで登録できるので、上部のバーかTOP画面のボタンよりログインをお願いします。）<br />
　　　</p>
      <div></div>
    </div>
  </div>
</div>