<div class="container">
  <div class="row">
    <div class="col-md-10 px-5 mx-auto" style="padding: 10px 0 10px;">
      
      <h1 class="text-center"  style="margin: 300px 0 300px">ようこそあなたの怪談へ!!</h1>
      
      <div class="btn-wrapper">
        <div class="row">
          <%= link_to 'ログイン', new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3" %>
        </div>
        <div class="row">
          <%= link_to '新規登録', new_user_registration_path, class: "btn btn-success btn-sm btn-block" %>
        </div>
      </div>
      
    </div>
  </div>
</div>