<footer>
  <nav class="navbar-expand-lg navbar-dark bg-dark">
    <div class="container  d-flex">
      <div class="ml-auto" style="padding: 20px 0 20px">
        
        <ul class="navbar-nav d-inkine-block">
          <li><%= link_to 'お問い合わせ',new_contact_path, class: 'text-light' %></li>
        </ul>
      </div>
    </div>
  </nav>
</footer>