<footer  style="background-color: #cccccc; width: 100%;">
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto'>
        <p>logo</p>
        <ul class="navbar-nav ml-auto">
          <li><%= link_to 'お問い合わせ', new_contact_path, class: 'text-light' %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>