<footer>
  <nav class="navbar-expand-lg navbar-dark bg-dark", style="height: 100px;">
    <div class="container">
      <div class="ml-auto my-auto">
        <ul class="navbar-nav d-inkine-block">
          <li><%= link_to 'お問い合わせ',new_contact_path, class: 'text-light' %></li>
        </ul>
      </div>
    </div>
  </nav>
</footer>